<div>Create new address form</div>
<form #createAddressItemForm="ngForm"
            novalidate 
            (ngSubmit)="onSubmit(createAddressItemForm)" 
            class="create-address-item-form">

  <div class="form-group">
    <input type="text" class="form-control" placeholder="City"
            name="city"
            [(ngModel)]="draftAddressItem.city" 
            required/>
  </div>

  <div class="form-group" >
    <input type="text" class="form-control" placeholder="Street name"
            name="streetName"
            [(ngModel)]="draftAddressItem.streetName"
            required>
  </div>

   <div class="form-group" >
    <input type="text" class="form-control" placeholder="Building number" 
            name="buildingNumber"
            [(ngModel)]="draftAddressItem.buildingNumber"
            required>
  </div>

  <div class="form-group" >
    <input type="text" class="form-control" placeholder="Appartment number"
            name="appartmentNumber"
            [(ngModel)]="draftAddressItem.appartmentNumber"
            required>
  </div>

  <input type="submit"
            [disabled]="createAddressItemForm.invalid"          
            value="Create" 
            class="btn btn-default"/>
</form>
