<div>Create new address form</div>
<form #createAddressItemForm="ngForm" class="create-address-item-form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="City"/>
  </div>

  <div class="form-group" >
    <input type="text" class="form-control" placeholder="Street name" >
  </div>

   <div class="form-group" >
    <input type="text" class="form-control" placeholder="Building number" >
  </div>

  <div class="form-group" >
    <input type="text" class="form-control" placeholder="Appartment number" >
  </div>
  <button [disabled]="createAddressItemForm.invalid">Create</button>
</form>
